[Desktop Entry]
Type=Application
Name=MQTT Inspector
GenericName=MQTT Message Inspector
Comment=MQTT message inspector for IoT debugging
Exec=mqtt-inspector
Icon=se.danielnylander.mqtt-inspector
Terminal=false
Categories=Utility;Network;
StartupNotify=true
Keywords=mqtt;iot;message;inspector;debug;
